extends homepage

block content
	.container
		.title
			h1 Artem Rosnovskiy 
			h2 Web Developer
		
		.square
			span I'm here
			
		.map
			span Map
		
		.location
			p Bailey Farm Appartments
			| Bothell, WA
		
		.insert
			.h3 Tech
			p This site runs as a Node.js application, featuring MongoDB and Express. This page makes asynchronus requests to Foursquare and Google Maps Static APIs featuring async/await and some ES6 beauty. It tracks my last Swarm checkin, adds a venue name with a link and points the location on a map.

		.next
			h2 What else can you do? >

