doctype html
html
  head
    title Artem Rosnovskiy — Portfolio and Showcase
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width' )
  body
    block content
