@import 'https://fonts.googleapis.com/css?family=PT+Mono:400,900'

body
	font-family 'PT Mono', sans-serif
	min-width: 100vw
	min-height: 100vh
	display flex
	justify-content center
	margin 0

	
.container
	display flex
	width: 620px
	margin-top 50px
	flex-direction column

.navbar
	position relative
	left -800px
	top 0
	height 123px
	width 100vw
	background-color white
	z-index -50

.header
	position relative
	top 0
	left -520px
	width 100vw
	height 300px
	z-index -100

.title
	color #000000
	font-size 1rem
	// line-height 3px
	margin-left 52rem
	margin-top 1.3rem
	font-weight 400
	
.square 
	position relative
	left 350px
	top -400px
	width 300px
	height 300px
	background-color rgba(250,220,76,.85)
	text-align right
	
	
.location
	font-size 2.5rem
	line-height 2rem
	margin-top 1rem
	margin-bottom: 2rem

a
	color black
	
.highlighter
	background-color rgba(250,220,76,1)

.here 
	position relative
	font-family 'Futura', 'PT Mono', sans-serif
	font-size 4rem
	font-weight thin
	top 8.2rem
	right 1.2rem
	line-height 5rem

h3
	font-weight thin
	font-size 1.2rem
	margin-top 0.1rem
	margin-bottom 0.1rem
	
.insert 
	width 570px
	height 200px
	padding 15px
	
	border 1px solid #979797
	margin-bottom 2rem
	line-height 1.4rem

.next
	text-align center
