@import 'https://fonts.googleapis.com/css?family=PT+Mono:400,900'

body
	font-family 'PT Mono', sans-serif
	min-width: 100vw
	min-height: 100vh
	display flex
	justify-content center
	margin 0

.container
	top 0
	left 0
	display flex
	width: 620px
	flex-direction column

.navbar
	position relative
	left -800px
	top 0
	height 123px
	width 100vw
	background-color white
	z-index -50

.header
	position absolute
	top 300
	left 0
	width 100vw
	height 300px
	z-index -1000

.title
	color #000000
	margin-top 3rem
	font-size 1.3rem
	margin-left 52rem
	font-weight 400

a
	color black
	
.highlighter
	background-color rgba(250,220,76,1)

.here 
	position relative
	font-family 'Futura', 'PT Mono', sans-serif
	font-size 4rem
	font-weight thin
	top 8.2rem
	right 1.2rem
	line-height 5rem

h3
	font-weight thin
	font-size 1.2rem
	margin-top 0.1rem
	margin-bottom 0.1rem
	
.insert 
	width 570px
	// height 600px
	padding 15px
	top -200
	border 1px solid #979797
	margin-bottom 2rem
	line-height 1.2rem

.next
	text-align center
